// change variable before the import
$font-path: "~assets/fonts";

@import "node_modules/@baloise/design-system-components/src/styles/global";

// add custom styles below
.overview #chart {
  max-width: 600px;
  height: 500px;
  margin: auto;
}
